.row {
  justify-content: center;
  padding: 2rem;
}

.menu-label {
  margin: 0.35rem 1rem;
}

.menu-label:first-of-type {
  margin-left: 0;
}

.stories-grid {
    background-color: #999;
}

.stories-grid h2 {
  text-align: center;
  color: #fff;
  margin: 2rem;
}

.card {
    margin: 1%;
    width: 23%;
}

.card:hover {
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 40%);
  border: 1px solid #888;
}

@media only screen and (max-width: 991px) {
    /* For smaller screen or tablets: */
    .card {
      width: 48%;
    }
  }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .card {
    width: 100%;
  }
}

.card a {
    text-decoration: none;
}

.card-body {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: .9rem;
    color: #333;
}

.card-text {
    font-size: 0.75rem;
    color: #777;
    display: flex;
    flex-direction: column;
}

.pagination {
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.loading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 55vh;
  text-align: center;
}

.loading img {
  max-width: 350px;
}

.loading-inner {
  display: flex;
  flex-direction: column;
}

.footer .navbar-nav {
  margin: 0 auto;
}
